{% extends 'base_layout.html' %}
{% block content %}

  <title>About</title>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dignissimos.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dignissimos.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dignissimos.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dignissimos.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dignissimos.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dignissimos.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dignissimos.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dignissimos.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dignissimos.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dignissimos.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dignissimos.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dignissimos.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dignissimos.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dignissimos.</p>
{% endblock %}
